{
  "extends": "airbnb",

  "parser": "babel-eslint",

  "plugins": ["prettier"],

  "env": {
    "browser": true,
    "jest": true
  },

  "rules": {
    "arrow-parens": ["error", "as-needed", { "requireForBlockBody": false }],
    "class-methods-use-this": "off",
    "comma-dangle": ["error", {
      "arrays": "only-multiline",
      "exports": "never",
      "functions": "never",
      "imports": "never",
      "objects": "only-multiline"
    }],
    "function-paren-newline": ["error", "consistent"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "import/no-named-as-default": "off",
    "no-confusing-arrow": "off",
    "no-underscore-dangle": ["error", {
      "allow": ["__REDUX_DEVTOOLS_EXTENSION__"],
    }],
    "prettier/prettier": ["error", {
      "semi": false,
      "singleQuote": true,
      "trailingComma": "es5"
    }],
    "react/forbid-prop-types": ["error", { "forbid": "any" }],
    "react/jsx-filename-extension": ["error", { "extensions": [".js"] }],
    "react/no-multi-comp": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": ["error", { "skipUndeclared": true }],
    "react/require-default-props": "off",
    "react/sort-comp": "off",
    "semi": ["error", "never"],
  }
}
